<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1 class="redText">{{title}}</h1>
  <p>Chào mừng đến với ứng dụng của chúng tôi!</p>
  
  <ul>
    <li><a href="/about">About</a></li>
    <li><a href="/help">Help</a></li>
  </ul>
</body>
</html>
